.parent{
    text-align: center;
}
.category-select{
    width: 200px;
}
select, input{
    width: 300px;
    height: 30px;
    margin: 10px;
}
.submission-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submission-btns input{
    margin: 10px;
    
}
.send-btn, .cancel-btn{
    width: 70px;
}
.item-details{
    background-color: 	rgba(0,163,202,255);
    width: 40%;
    margin: 10px auto;
}
.item-description input, .category-select{
    margin: 10px;
    width: 70%;
    background-color: black;
    color: white;
}
